.about-me {
    font-size: 12px;
    line-height: 18px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    margin-block-end: 24px;
    text-align: center;
}

p {
    margin: 0;
}

@media screen and (min-width: 400px) {
    .about-me {
        font: var(--paragraph);
        max-width: 400px;
    }
}