.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.button {
    border-radius: 4px;
    border: 2px solid var(--white);
    text-align: center;
    width: 100%;
    font: var(--button);
    list-style: none;
    text-decoration: none;
    color: var(--white);
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.portfolio {
    margin-block-end: 16px;
}

.curriculum {
    color: #3778FC;
    background: var(--white);
}

@media screen and (min-width: 400px) {
    .portfolio:hover {
        opacity: 60%;
        transition: 0.25s;
    }

    .curriculum:hover {
        opacity: 80%;
        transition: 0.25s;
    }
}