.location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 16px;
}
span {
    font-size: 12px;
    margin-inline-start: 4px;
    line-height: 18px;
}

@media screen and (min-width: 400px) {
    img {
        width: 18px;
        height: 18px;
    }

    span {
        font: var(--paragraph);
    }
}