.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.name {
    font: var(--headline5);
}

.position {
    font: var(--smallMedium);
    margin-block-end: 10px;
    margin-block-start: 4px;
}